/* variables */
$sans: "Poppins";
$sansalt: "Lato";
$main-color: #082b59;
$secondary-color: #d98555;
$background-color: #f2f2f2;
$bodytext: #000;
$border: 10px solid;
$buttonborder: 3px solid;
$corners: 10px;